.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-btn-add {
  background-color: #ba72ff;
  padding: 10px;
  border-radius: 10px;
}

.header-input {
  border: 0;
  outline: 0;
  padding: 15px 18px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border-radius: 10px;
}